@model IEnumerable<ObjectsLoaneds.Models.ObjectsLoanedModel>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" >Adicionar novo objeto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Para quem você emprestou?")
            </th>
            <th>
                @Html.DisplayName("O que você emprestou?")
            </th>
            <th>
                @Html.DisplayName("Quando você emprestou?")
            </th>
            <th>
                @Html.DisplayName("Dia para a devolução do objeto")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    int CompareData = DateTime.Compare(item.LimitDate, DateTime.Now);
   
    if(CompareData < 0) 
    {
        <tr class="alert alert-danger" role="alert">
            <td>
                @Html.DisplayFor(modelItem => item.NamePeopleLoaned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameObjectLoaned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateLoanedObject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LimitDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ObjectId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.ObjectId">Deletar</a>           
            </td>
        </tr>      
    }
    else
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NamePeopleLoaned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameObjectLoaned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateLoanedObject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LimitDate)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ObjectId">Editar</a> |
            <a asp-action="Delete" asp-route-id="@item.ObjectId">Deletar</a>
        </td>
    </tr>
    } 
}
    </tbody>
</table>
